# EditorConfig is awesome: http://EditorConfig.org

root = true

# Any files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# code files
[*.cs]
indent_style = space
indent_size = 4
