.pc
*.ncb
*.suo
*.vcproj.*.user
*.o
Engine/acwin___Win32_DebugWorking
Editor/AGS.Controls/bin
Editor/AGS.Controls/obj
Editor/AGS.CScript.Compiler/bin
Editor/AGS.CScript.Compiler/obj
Editor/AGS.Editor/bin
Editor/AGS.Editor/obj
Editor/AGS.Native/Debug
Editor/AGS.Types/bin
Editor/AGS.Types/obj
Editor/UpdateCPPVersion/bin
Editor/UpdateCPPVersion/obj
Editor/AGS.Native/Release
Editor/References/AGS.Native.dll
