<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal"><!-- TODO: UPDATE PACKAGE NAME -->

    <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <!-- Required to keep CPU alive while downloading files
        (NOT to keep screen awake) -->
    <!-- But also required by the engine to keep the screen awake -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.mystudioname.mygamename.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        tools:replace="android:theme">

        <activity android:configChanges="orientation|keyboardHidden|screenSize"
            tools:replace="android:configChanges"
            android:name="uk.co.adventuregamestudio.runtime.AGSRuntimeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mystudioname.mygamename.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
