Source: ags
Section: games
Priority: optional
Maintainer: Tobias Hansen <tobias.han@gmx.de>
Build-Depends: debhelper (>= 8.0.0),
               pkg-config,
               liballegro4-dev,
               libaldmb1-dev,
               libfreetype6-dev,
               libtheora-dev,
               libvorbis-dev,
               libogg-dev,
               libglew-dev
Standards-Version: 3.9.3
Homepage: https://github.com/adventuregamestudio/ags
Vcs-Git: git://github.com/adventuregamestudio/ags.git
Vcs-Browser: https://github.com/adventuregamestudio/ags

Package: ags
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Adventure Game Studio runtime engine
 AGS is an adventure game engine with many games available.
 .
 Package built on ${buildinfo:Date}
 using git ${buildinfo:Git-Object}.

Package: ags-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    ags (= ${binary:Version}),
    ${misc:Depends}
Description: Adventure Game Studio runtime engine (debugging symbols)
 AGS is an adventure game engine with many games available.
 .
 This package contains the debugging symbols for ags.
 .
 Package built on ${buildinfo:Date}
 using git ${buildinfo:Git-Object}.
