<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <!-- Enables High DPI support. DO NOT COMMIT UNCOMMENTED until the AGS Editor fully supports it.
    <add key="DpiAwareness" value="PerMonitorV2" />
    -->
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
