#!/usr/bin/make -f

# Keep this list of folders that are not included in the
# orig syncronized with the one in debian/source/local-options!
ORIG_CONTENT := $(shell git ls-tree --name-only HEAD | grep -Ev '^(Android|Editor|iOS|OSX|Windows|\.git.*)')
VERSION := $(shell dpkg-parsechangelog | grep -x "Version:.*" | sed 's@Version: \(.\+\)-.\+@\1@')

%:
	dh $@ 

override_dh_auto_clean:
	$(MAKE) --directory=Engine --file=Makefile.linux clean

override_dh_auto_build:
	$(MAKE) --directory=Engine --file=Makefile.linux

override_dh_clean:
	dh_clean --exclude=Editor/*

get-orig-source:
	git archive --prefix=ags_$(VERSION)/ --format=tar HEAD $(ORIG_CONTENT) | gzip > ../ags_$(VERSION).orig.tar.gz
