#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog | grep -x "Version:.*" | sed 's@Version: \(.\+\)-.\+@\1@')

%:
	dh $@ 

override_dh_auto_clean:
	$(MAKE) --directory=Engine --file=Makefile.linux clean

override_dh_auto_build:
	$(MAKE) --directory=Engine --file=Makefile.linux

override_dh_clean:
	dh_clean --exclude=Editor/*

get-orig-source:
	git archive --prefix=ags_$(VERSION)/ --format=tar HEAD Common Engine Manual Plugins README.md | gzip > ../ags_$(VERSION).orig.tar.gz
